public
listas/_minted**
listas/*.aux
listas/*.fdb_latexmk
listas/*.fls
listas/*.log
listas/*.synctex.gz
main*
.vscode/tasks.json
slides/*.pdf
slides/*.html
index.html
prova/
slides/img/.*.bkp
a.out
test/
vector/